:root {
  --color-primary: #4f4f4f;
  --color-background: #f5f5f5;
  --color-primary-white: #ffffff;
  --color-primary-black: #000;
  --color-section-background: #2f303a;
  --color-blue: #2196f3;
  --color-secondary-button: #212121;
  --color-advantages-text: #757575;
  --color-secondary-background: #f5f4fa;
  --color-icon: #afb1b8;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-primary);
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: var(--color-section-background);
  padding: 60px 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.footer .soc-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .soc-link:hover,
.footer .soc-link:focus {
  background-color: var(--color-blue);
}

.logo-studio-footer {
  color: #ffffff;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  color: var(--color-blue);
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.mail-address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7142;
  color: #ffffff;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-address:hover {
  color: var(--color-blue);
}

.mail-address:focus {
  color: var(--color-blue);
}

.address-email {
  font-size: 14px;
  line-height: 1.7142;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item {
  margin-bottom: 9px;
}

.address-email:hover {
  color: var(--color-blue);
}

.address-email:focus {
  color: var(--color-blue);
}

.address-phone {
  font-size: 14px;
  line-height: 1.7142;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-phone:hover {
  color: var(--color-blue);
}

.footer-soc-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-white);
  margin-bottom: 20px;
}

.footer-input {
  display: block;
  margin-left: auto;
}

.footer-form {
  margin-left: auto;
}

.footer-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--color-advantages-text);
}

.form-footerinput {
  width: 358px;
  height: 50px;
  padding: 12px 12px 12px 30px;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
}

.footer-button {
  position: relative;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: start;
  padding-left: 28px;
  color: var(--color-primary-white);
  background-color: var(--color-blue);
  border: 0.5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  color: var(--color-primary-white);
  background-color: #188ce8;
}

.send-icon {
  position: absolute;
  top: 10px;
  right: 28px;
  fill: var(--color-primary-white);
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-secondary-button);
  margin-bottom: 12px;
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--color-advantages-text);
  margin-bottom: 10px;
}

.form-text-aria {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--color-advantages-text);
  margin-bottom: 20px;
}

.form-control {
  position: relative;
  display: block;
  margin-top: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-control:focus-within .close-icon {
  fill: var(--color-blue);
}

.form-input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  font-size: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--color-blue);
}

.form-input:focus + .close-icon {
  fill: var(--color-blue);
}

.close-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--color-primary-black);
}

.check-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: currentcolor;
  color: var(--color-primary-white);
}

.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
  border-color: var(--color-blue);
}

.checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox-label {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--color-advantages-text);
}

.checkbox-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-custom-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  cursor: pointer;
  border: 1.5px solid var(--color-secondary-button);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-custom-box {
  background-color: var(--color-blue);
  border-color: transparent;
}

.agreement-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--color-blue);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  display: block;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--color-secondary-button);
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: var(--color-blue);
}

.nav-item:hover,
.nav-item:focus {
  color: var(--color-blue);
}

.nav-item-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-left: 90px;
}

.nav-item-second {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-item-contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: var(--color-advantages-text);
  gap: 10px;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-contact:hover,
.nav-item-contact:focus {
  color: var(--color-blue);
}

.header-icon {
  fill: currentColor;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  color: var(--color-blue);
  text-decoration: none;
  display: block;
  padding: 24px 0px;
}

.current::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background-color: currentcolor;
  content: "";
}

.nav-item:hover::after {
  opacity: 1;
}

.logo-studio {
  color: var(--color-primary-black);
}

.main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  max-width: 100%;
  padding: 94px 0;
}

.buttons-row {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  height: 38px;
  gap: 8px;
  margin-bottom: 50px;
}

.secondary-button {
  color: var(--color-secondary-button);
  background-color: var(--color-secondary-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: #000000;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), backgrond-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.secondary-button:hover,
.secondary-button:focus {
  color: var(--color-primary-white);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  opacity: 1;
  z-index: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background-color: var(--color-primary-white);
}

.modal-close-button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-primary-white);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover {
  fill: var(--color-blue);
}

.close-iconform {
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
}

.our-clients {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 94px 0;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.cl-logo {
  width: 170px;
  height: 92px;
}

.cl-logo-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.cl-logo-frame img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cl-logo-frame:hover .cl-logo-picture,
.cl-logo-frame:focus .cl-logo-picture {
  fill: var(--color-blue);
}

.cl-logo-frame:hover,
.cl-logo-frame:focus {
  border-color: var(--color-blue);
}

.cl-logo-picture {
  fill: var(--color-icon);
  width: 106px;
  height: 60px;
}

.tasks-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--color-secondary-button);
  margin-bottom: 50px;
}

.task-images {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 30px;
}

.task-box {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
}

.task-text-container {
  position: absolute;
  left: 0;
  bottom: 0;
  min-height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  z-index: 1;
  padding: 10px;
}

.task-text {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-white);
  z-index: 2;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background-color: var(--color-secondary-background);
  padding: 94px 0;
}

.our-team {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  margin-bottom: 50px;
  color: var(--color-secondary-button);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: var(--color-advantages-text);
  margin-bottom: 16px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: var(--color-secondary-button);
  margin-bottom: 10px;
}

.team-signature {
  padding: 30px;
}

.soc-icon {
  width: 20px;
  height: 20px;
  fill: var(--color-icon);
}

.soc-item {
  width: 44px;
  height: 44px;
}

.soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--color-blue);
}

.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
  fill: var(--color-primary-white);
}

.footer .soc-icon {
  fill: var(--color-primary-white);
}

.soc-list {
  display: flex;
  gap: 10px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.port-img {
  position: relative;
  width: 370 px;
  overflow: hidden;
}

.port-item {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 404px;
}

.port-item-overlay {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  padding: 24px;
  transform: translateY(101%);
  color: var(--color-primary-white);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-item-link {
  display: block;
}

.port-item-link:hover .port-item-overlay {
  transform: translateY(0);
}

.port-item-link:hover,
.port-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-text {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 24px;
}

.portfolio-title {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.875;
  color: var(--color-advantages-text);
}

.portfolio-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  white-space: nowrap;
  color: var(--color-secondary-button);
}

.section-advantages {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding-bottom: 94px;
}

.advantages-list {
  display: flex;
  justify-content: center;
  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  color: var(--color-secondary-button);
  gap: 30px;
  margin-left: 0px;
}

.advantages-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}

.advantage-icon {
  width: 70px;
  height: 70px;
}

.advantages-item {
  width: 270px;
  text-transform: uppercase;
}

.advantages-titles {
  width: 270px;
  margin-bottom: 10px;
}

.advantages-text {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: none;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-advantages-text);
}

.section-hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  line-height: 1.36;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/back-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-primary-white);
}

.primery-button {
  padding: 10px 32px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: normal;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-primary-white);
  background-color: var(--color-blue);
  border: 0.5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.primery-button:hover,
.primery-button:focus {
  color: var(--color-primary-white);
  background-color: #188ce8;
}

.our-tasks {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 94px 0px;
}/*# sourceMappingURL=main.css.map */