* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary);
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    font-family: inherit;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
}