:root {
    --color-primary: #4f4f4f;
    --color-background: #f5f5f5;
    --color-primary-white: #ffffff;
    --color-primary-black: #000;
    --color-section-background: #2f303a;
    --color-blue: #2196f3;
    --color-secondary-button: #212121;
    --color-advantages-text: #757575;
    --color-secondary-background: #f5f4fa;
    --color-icon: #afb1b8;
}

$text-font-stack: “Roboto”, sans-serif;
$logo-font-stack: "Raleway", sans-serif;
